.mydropdown{
    
    width: 1366px;
    position: absolute;
    left:-851px;
    display: none;

}

.dropdown:hover .mydropdown{
    
    display: block;
    position: absolute;
}
.my-sub-link{
    font-size:18px;
    color:#474747
}
.my-sub-link:hover{
    color:#808000;
    text-decoration: none;
}
.mydropdownIndustries{
    width: 1366px;
    position: absolute;
    left:-940px;
    display: none; 
    
}
.dropdown:hover .mydropdownIndustries{
    display: block;
    position: absolute;

}
.mydropdownTrending{
    display:none;
    position:absolute;
    left:-1041px;
    width:1366px;
}
.dropdown:hover .mydropdownTrending{
    display:block;
    position: absolute;
}
/*================ Top Banner =========== */

.topBanner{
    height: 600px; 
    background-attachment: fixed;
    background-image: url("../image/banner.jpg");
}
.topBanner .video{
   width: 100%;
   position:relative;
}
.VideoInnnerDiv{
    position: absolute;
    top:200px;
    left:60px;
    position: fixed;
    
}
.videoHeader{
    color:#fff;
    font-size:60px;
    font-weight: bold;
    width:80%;
}
.videoText{
    margin-top:50px;
    color:#FFF;
    font-size:35px;
    font-weight: bold;
}
.divBtn{
    
    bottom:30px;
    border:2px solid #fff;
    margin-top:50px;
    width:200px;
    border-radius: 18px;
    text-align: center;
    padding:8px;
    
}
.divBtnLink{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.divBtn:hover{
    background: #444343;
}
.divBtnLink:hover{
    text-decoration: none;
    color:#fff;
}
.SyberryText{
    width:80%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 80px;
    
}
.SyberryTextPara{
    font-size: 18px;
    color:#555;
}
/*=========================Seberry Asked Somthing =======================*/
.SeberrydivBtn1{
    bottom:30px;
    border:2px solid #555;
    margin-top:50px;
    width:180px;
    border-radius: 18px;
    text-align: center;
    padding:8px;
    margin-left:50px;
}
.SeberrydivBtn:hover{
    background:#474747;
    color:#fff;
}
.SeberrydivBtn1:hover .SeberrydivBtnLink{
    color:#fff;
}
.SeberrydivBtn2:hover .SeberrydivBtnLink{
    color:#fff;
}
.SeberrydivBtn2{
    bottom:30px;
    border:2px solid #555;
    margin-top:50px;
    
    width:180px;
    border-radius: 18px;
    text-align: center;
    padding:8px;
}
.SeberrydivBtnLink{
    color: #555;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none; 
}
.SeberrydivBtnLink:hover{
    text-decoration:none;
    color:#fff;
}
.seberryAsk{
    box-shadow: 5px 5px 5px #47474771;
    width:100%;
    height: 350px;
    position:absolute;
    top:-30px;
    background:#fff;
    left:0px;
}
.seberryaskContent{
    text-align: left;
    font-weight: 600;
    color:#555;
    width:350px;
    

}
.seberryH3{
    margin-top:100px;
    font-weight: bold;
    color:#444;
    font-size:35px;
    margin-left:50px;
    text-transform: capitalize;

}
.whySeberry{
    padding-bottom: 80px;
}
/*====================DEVELOPMMENT SECTION ============*/
.developTitle{
    font-size:35px;
    font-weight: bold;
    margin-top:120px;
    margin-bottom: 40px;
    margin-left:50px;
    color:#fff;

}
.develomPara{
    font-size:18px;
    text-align:justify;
    font-weight: 400;
    margin-bottom: 120px;
    margin-left:50px;
    color:#fff;
}
.developImg{
    background-image: url('../image/city.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
.developRightTitle{
    font-size:35px;
    font-weight: bold;
    margin-top:120px;
    margin-bottom: 40px;
    margin-left:50px;
    color:#b94790;

}

.develomRightPara{
    font-size:18px;
    text-align:justify;
    font-weight: 400;
    margin-bottom: 120px;
    margin-left:50px;
    color:#555;
}
.developLink:hover{
    text-decoration: none;
}
.developLink:hover .developRightTitle{
    text-decoration: none;
    color:red;
}